<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">VMagicMirror</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="{{ "/download" | relative_url }}">Download</a></li>
            <li><a href="{{ "/get_started" | relative_url }}">Get Started</a></li>
            <li><a href="{{ "/docs" | relative_url }}">Docs</a></li>
            <li><a href="{{ "/questions" | relative_url }}">FAQ</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="{{ "/download" | relative_url }}">Download</a></li>
            <li><a href="{{ "/get_started" | relative_url }}">Get Started</a></li>
            <li><a href="{{ "/docs" | relative_url }}">Docs</a></li>
            <li><a href="{{ "/questions" | relative_url }}">FAQ</a></li>
          </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>